# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# OS / Editor junk
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# Docker itself
Dockerfile*
